<div class="account">
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="acc-manage">
  <h2>Welcome <%= name %></h2>
  <p>You're Logged In!</p>
  <a href="/account/edit/" title="Update Account">Update Account Information</a><br>

  <h2>Message Center</h2>
  <ul id="mess-display">
    <li>You have # unread messages.</li>
    <li>Go to <a href="/message/">inbox</a></li>
  </ul>

  <% if (locals.accountData.account_type == "Admin" || locals.accountData.account_type == "Employee") { %>
    <h2>Inventory Management</h2>
    <p><a href="/inv/">Manage Inventory</a></p>
  <% } %> 
</div>
</div>
