<header id="top-header" class="header-container">
  <span class="siteName">
    <a class="headerLink" href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
      <a class="headerLink" title="Account page" href="/account">Welcome <%= locals.accountData.account_firstname %>  |  </a>
      <a class="headerLink" title="Click to logout" href="/account/logout">Logout</a>
    <% } else { %> 
      <a class="headerLink" title="Click to login" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>

