<div class="main-div">
  <h1>Welcome to CSE Motors!</h1>
  <section class="hero">
    <div class="hero-img">
        <picture>
          <source srcset="/images/vehicles/delorean.jpg" media="(min-width:500px)">
          <img class="hero-image" src="/images/vehicles/delorean-tn.jpg" alt="delorean image">
        </picture>
    </div>
    <div class="hero-text">
        <h1>DMC Delorean</h1>
        <p>3 Cup dolders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="/" id="ownBtn">Own Today</a>
    </div>
  </section>
  <section class="reviews-upgrades">
    <section class="reviews">
      <h1>DMC Delorean Reviews</h1>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling Mcfly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
    <section class="upgrades">
      <h1>Delorean Upgrades</h1>
      <section class="upgrade-grid">
        <div class="flux-grid">
          <picture class="flux">
            <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
          </picture>
          <a href="/">Flux Capacitor</a>
        </div>
        <div class="flame-grid">
          <picture class="flame">
            <img src="/images/upgrades/flame.jpg" alt="flame decal">
          </picture>
          <a href="/">Flame Decals</a>
        </div>
        <div class="bumper-grid">
          <picture class="bumper">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
          </picture>
          <a href="/">Bumper Stickers</a>
        </div>
        <div class="hub-grid">
          <picture class="hub">
            <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
          </picture>
          <a href="/">Hub Caps</a>
        </div>
      </section>
    </section>
  </section>
</div>