<div class="class-div">
  <% if (title) { %>
    <h1 class="class-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

  <%- messages() %>

  <div class="class-display"><%- grid %></div>
</div>